<!DOCTYPE html>
{% extends "myapp/base.html"%}
{%load staticfiles %}
{% block body_block %}

        <div class="container">

          <div class="jumbotron">
            <h1> Drafts: </h1>
            <p style="color:red;">* note: these drafts are yet to be approved by the administrator</p>
            <hr>

            {% if my_drafts %}


                {% for draft in my_drafts%}


                      <h2><span style="color:grey; font-weight:bolder;">Author:</span> {{draft.author.email}}</h2>
                      <h2><span style="color:grey; font-weight:bolder;">Title:</span> {{draft.title}}</h2>
                      <p><span style="color:grey; font-weight:bolder;">Text:</span> {{draft.text}}</p>
                      <br>
                      <form method="POST"  action="{% url 'delete_post' %}" style="display:inline;">
                          {% csrf_token%}
                          <input type="hidden" name="post_id" value="{{draft.id}}">
                          <button type="submit" name="button">Delete</button>
                      </form>

                      <form method="POST"  action="{% url 'publish_post' %}" style="display:inline;">
                          {% csrf_token%}
                          <input type="hidden" name="post_id" value="{{draft.id}}">
                          <button type="submit" name="button">Publish</button>
                      </form>

                      <hr style="border: 5px solid red;">




                  <br><br>
                {% endfor%}

            {% endif %}
          </div>


        </div>


{% endblock%}
